.wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  height: fit-content;
  background-color: #FFF;
  //border: 1px solid greenyellow;
  text-align: center;
}

.promo {
  margin-bottom: 70px;
  color: rgb(57, 73, 171);
}

.anchor {
  text-decoration: none;
  color: rgb(57, 73, 171);
}