@media (min-width: 568px) {
  .wrapper {
    width: 510.475px;
    padding: 22.688px;
  }

  .burger {
    height: 31.7625px;
    &_item {
      width: 45.375px;
      height: 5.6625px;
      border-radius: 11.344px;

      &_long {
        width: 54.45px;
      }
    }
  }

  .input {
    width: 204.188px;
    height: 17.0125px;
  }

  .question {
    width: 28.35px;
    font-size: 15.8816px;
    height: 21.55px;
  }









}