@media (min-width: 568px) {

  .wrapper {
    width: 199px;
    padding: 23px;
    margin-top: 22px;
  }

  .img {
    border-radius: 11px;

    &_wrapper {
      width: 136.125px;
      height: 136.125px;
    }
  }


  .name {
    font-size: 28px;
  }

  .category {
    font-size: 17px;
    margin: 2px;
    padding: 2px;
    border-radius: 11.3px;

    &_list {
      padding: 11.3px;
    }
  }

}